
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    
    <div class="row justify-content-center" *ngFor="let question of questionSet" style="padding-bottom:10px">


        <div class="col-6" style="text-align:left">
          <p>{{question.Question}}</p>
        </div>
        <div class="col-6" style="text-align:center" [hidden]="question.Type!='dropdown'">
          <div class="col3">
            <select class="form-control" style="max-width:60%" *ngIf="question.PopulateFrom=='countries'">
              <option *ngFor="let country of Countries">{{country.name}}</option>
            </select>
            <select class="form-control" style="max-width:60%" *ngIf="question.PopulateFrom=='monthperiods'">
              <option *ngFor="let period of MonthPeriods">{{period.period}}</option>
            </select>
          </div>
      
      
        </div>
        <div class="col-6" [hidden]="question.Type!='yesno'">
          <div class="btn-group" role="group">
            <button type="button" (click)="clickYes()" class="btn btn-info">Yes</button>
            <button type="button" (click)="clickNo()" class="btn btn-info">No</button>
          </div>
      
        </div>
        <div class="row" [hidden]="!subQuestion || question.Type!='yesno'" style="padding-bottom: 10px;padding-top:10px;">
          <div class="col-6" style="text-align:left">
            <p>{{question.ChildQuestion.Question}}</p>
          </div>
          <div class="col-6" style="text-align:center;padding-left:25px" [hidden]="question.ChildQuestion.Type!='dropdown'">
      
            <select class="form-control" style="max-width:62%" *ngIf="question.ChildQuestion.PopulateFrom=='countries'">
              <option *ngFor="let country of Countries">{{country.name}}</option>
            </select>
            <select class="form-control" style="max-width:62%" *ngIf="question.ChildQuestion.PopulateFrom=='monthperiods'">
              <option *ngFor="let period of MonthPeriods">{{period.period}}</option>
            </select>
      
      
      
          </div>
        </div>
        <div class="col-6" style="text-align:left;display:inline" [hidden]="question.Type!='list'">
          
            <select  [(ngModel)]="countryToAdd" class="form-control" style="max-width: 50%; display: inline; padding-right: 15px" *ngIf="question.PopulateFrom=='countries'">
              <option *ngFor="let country of Countries">{{country.name}}</option>
            </select>
            <button type="button" (click)="addVisited()"  class="btn btn-primary btn-sm">Add</button>
            <div class="row">
              <p>{{visitedCountries}}</p>
            </div>
          
      
      
        </div>
        <div class="col-6" style="text-align:left" [hidden]="question.Type!='number'">
      
          <input type="range" class="custom-range" min="15" max="100" [(ngModel)]="SelectedAge" style="min-width:50%">
          <input type="text" [(ngModel)]="SelectedAge" style="max-width:10%;text-align:right">
      
        </div>
      
      </div>
  </div>
  </section>    