
<div class="row" style="min-height: 50px;"></div>
<div [hidden]="uiStage>-1 || uiStage<110">
  <app-header></app-header>
</div>
<div [hidden]="uiStage==0">
  <div [hidden]="uiStage!=1">
  <app-landing></app-landing>
  </div>
  <div [hidden]="uiStage!=2">
    <app-visas></app-visas>
  </div> 
  <div [hidden]="uiStage!=3">
    <app-visa-questions></app-visa-questions>
  </div>  
  <div [hidden]="uiStage!=10">
    <app-report></app-report>
  </div>  
</div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <div [hidden]="uiStage<2 || uiStage>6"><button class="btn btn-info btn-xl" (click)="moveStage(false)">Go Back</button></div>
      <div [hidden]="uiStage<1 || uiStage>1"><button  class="btn btn-info btn-xl" (click)="moveStageCustom(10)">Generate Report</button></div>
      
    </div>
    <div class="col-4">
      <div [hidden]="uiStage<1 || uiStage>2"><button  class="btn btn-info btn-xl" (click)="moveStage(true)">{{proceedButtonText}}</button></div>
      <div [hidden]="uiStage<3 || uiStage>6">
        <input class="form-control" placeholder="Enter email" />
        <button  class="btn btn-info">Request My Custom Report</button>
      </div>
      
    </div>
    <div class="col-2"></div>
</div>
  
<div [hidden]="uiStage>0">
  <div class="row justify-content-center" style="padding-top:200px">
    <div class="col-4"></div>
    <div class="col-4"><input class="form-control" [(ngModel)]="userName"  placeholder="Enter username" /></div>
    <div class="col-4"></div>
    <div class="row justify-content-center" style="padding-top:10px"></div>
    <div class="col-4"></div>
    <div class="col-4"><input type="password" [(ngModel)]="passWord" class="form-control" id="exampleInputPassword1" placeholder="enter Password"></div>
    <div class="col-4"></div>
    <div class="row justify-content-center" style="padding-top:10px"></div>
    <div class="col-4"></div>
    <div class="col-4"> <button class="btn btn-info" style="max-width: 400px" (click)="login()">Login</button></div>
    <div class="col-4"></div>
    <div class="row justify-content-center" style="padding-top:10px"></div>
   
    <div class="col-4"></div>
    <div class="col-4"><p class="lead" [hidden]="!invalidPassword">Invalid Password</p></div>
    <div class="col-4"></div>
    
  </div>
</div>
<router-outlet />
